Flow.json
[
  {
    "id": "1",
    "type": "tab",
    "label": "Jemuran Otomatis",
    "disabled": false,
    "info": ""
  },
  {
    "id": "mqtt_temp",
    "type": "mqtt in",
    "z": "1",
    "name": "Suhu",
    "topic": "/jemuran/temp",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 100,
    "y": 60,
    "wires": [["f_suhu"]]
  },
  {
    "id": "mqtt_hum",
    "type": "mqtt in",
    "z": "1",
    "name": "Kelembapan",
    "topic": "/jemuran/hum",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 110,
    "y": 100,
    "wires": [["f_hum"]]
  },
  {
    "id": "mqtt_cahaya",
    "type": "mqtt in",
    "z": "1",
    "name": "Cahaya",
    "topic": "/jemuran/cahaya",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 100,
    "y": 140,
    "wires": [["f_cahaya"]]
  },
  {
    "id": "mqtt_hujan",
    "type": "mqtt in",
    "z": "1",
    "name": "Hujan",
    "topic": "/jemuran/hujan",
    "qos": "0",
    "datatype": "auto",
    "broker": "mqtt_broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "x": 100,
    "y": 180,
    "wires": [["f_hujan"]]
  },
  {
    "id": "f_suhu",
    "type": "function",
    "z": "1",
    "name": "Simpan Suhu",
    "func": "flow.set(\"suhu\", parseFloat(msg.payload));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 60,
    "wires": [[]]
  },
  {
    "id": "f_hum",
    "type": "function",
    "z": "1",
    "name": "Simpan Hum",
    "func": "flow.set(\"hum\", parseFloat(msg.payload));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 100,
    "wires": [[]]
  },
  {
    "id": "f_cahaya",
    "type": "function",
    "z": "1",
    "name": "Simpan Cahaya",
    "func": "flow.set(\"cahaya\", parseInt(msg.payload));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 140,
    "wires": [[]]
  },
  {
    "id": "f_hujan",
    "type": "function",
    "z": "1",
    "name": "Simpan Hujan",
    "func": "flow.set(\"hujan\", parseInt(msg.payload));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 300,
    "y": 180,
    "wires": [[]]
  },
  {
    "id": "inject",
    "type": "inject",
    "z": "1",
    "name": "Cek Setiap 5s",
    "props": [{"p":"payload"}],
    "repeat": "5",
    "crontab": "",
    "once": true,
    "onceDelay": "1",
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 140,
    "y": 240,
    "wires": [["f_logika"]]
  },
  {
    "id": "f_logika",
    "type": "function",
    "z": "1",
    "name": "Logika Jemuran",
    "func": "var suhu = flow.get(\"suhu\") || 0;\nvar hum = flow.get(\"hum\") || 0;\nvar cahaya = flow.get(\"cahaya\") || 9999;\nvar hujan = flow.get(\"hujan\") || 9999;\n\nvar turunkan = false;\n\nif (hujan < 2000) {\n    turunkan = true;\n    msg.reason = \"Terdeteksi hujan\";\n} else if (hum < 70 && suhu < 30) {\n    turunkan = true;\n    msg.reason = \"Kering & suhu rendah\";\n} else if (suhu < 30 && cahaya < 2000) {\n    turunkan = true;\n    msg.reason = \"Cahaya redup & suhu < 30\";\n}\n\nmsg.payload = turunkan ? \"TURUNKAN\" : \"NAIKKAN\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 340,
    "y": 240,
    "wires": [["mqtt_out"]]
  },
  {
    "id": "mqtt_out",
    "type": "mqtt out",
    "z": "1",
    "name": "Kirim Perintah",
    "topic": "/jemuran/control",
    "qos": "",
    "retain": "",
    "broker": "mqtt_broker",
    "x": 530,
    "y": 240,
    "wires": []
  },
  {
    "id": "mqtt_broker",
    "type": "mqtt-broker",
    "name": "Mosquitto",
    "broker": "test.mosquitto.org",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "closeTopic": "",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  }
]