MONITORING REAL-TIME DHT22 DENGAN MQTT (MOSQUITTO) & NODE-RED/MONITORING REAL-TIME DHT22 DENGAN MQTT (MOSQUITTO) & NODE-RED.json
[
    {
        "id": "5ad45b94a56ec35e",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b032907d804fe24",
        "type": "mqtt in",
        "z": "5ad45b94a56ec35e",
        "name": "",
        "topic": "/ThinkIOT/temp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "986ea6aa58b7d783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 160,
        "wires": [
            [
                "252b153e013a8bae",
                "a015acb7018c4bbc",
                "0911f5de5bc8a9a8"
            ]
        ]
    },
    {
        "id": "fb3b4403e98320f7",
        "type": "mqtt in",
        "z": "5ad45b94a56ec35e",
        "name": "",
        "topic": "/ThinkIOT/hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "986ea6aa58b7d783",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "63eb3184f6408cbf",
                "93cdd92097edd5d1",
                "0911f5de5bc8a9a8"
            ]
        ]
    },
    {
        "id": "63eb3184f6408cbf",
        "type": "ui_gauge",
        "z": "5ad45b94a56ec35e",
        "name": "",
        "group": "3672dcc041926a43",
        "order": 3,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 480,
        "y": 280,
        "wires": []
    },
    {
        "id": "252b153e013a8bae",
        "type": "ui_text",
        "z": "5ad45b94a56ec35e",
        "group": "3672dcc041926a43",
        "order": 12,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}} °C",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "a015acb7018c4bbc",
        "type": "ui_gauge",
        "z": "5ad45b94a56ec35e",
        "name": "",
        "group": "3672dcc041926a43",
        "order": 2,
        "width": 7,
        "height": 4,
        "gtype": "gage",
        "title": "Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "80",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 490,
        "y": 100,
        "wires": []
    },
    {
        "id": "93cdd92097edd5d1",
        "type": "ui_text",
        "z": "5ad45b94a56ec35e",
        "group": "3672dcc041926a43",
        "order": 13,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}} %",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 480,
        "y": 340,
        "wires": []
    },
    {
        "id": "0911f5de5bc8a9a8",
        "type": "ui_chart",
        "z": "5ad45b94a56ec35e",
        "name": "",
        "group": "3672dcc041926a43",
        "order": 16,
        "width": 14,
        "height": 5,
        "label": "Monitoring DHT 22",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "495c1291676bef1b",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "af5a130c51d905fb",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "5e8bbd850d5b8b0b",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 5,
        "width": 6,
        "height": 1
    },
    {
        "id": "f49642d8ccb3b19e",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 6,
        "width": 6,
        "height": 1
    },
    {
        "id": "de0d31c7008c80f2",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 7,
        "width": 6,
        "height": 1
    },
    {
        "id": "fb4fc82069e3cb69",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 8,
        "width": 6,
        "height": 1
    },
    {
        "id": "5d7804fc6466deae",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 9,
        "width": 6,
        "height": 1
    },
    {
        "id": "9517a652a3e0b636",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 10,
        "width": 6,
        "height": 1
    },
    {
        "id": "e57da5ff7e6071a4",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 11,
        "width": 6,
        "height": 1
    },
    {
        "id": "d0e106d44bd47b57",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 14,
        "width": 6,
        "height": 1
    },
    {
        "id": "14ec9abfd5109d1c",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 15,
        "width": 6,
        "height": 1
    },
    {
        "id": "2dc44c6685485628",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 17,
        "width": 6,
        "height": 1
    },
    {
        "id": "3b716a95d3e522d0",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 18,
        "width": 6,
        "height": 1
    },
    {
        "id": "e9b94ccaff025b0a",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 19,
        "width": 6,
        "height": 1
    },
    {
        "id": "0227a463e65e1970",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "52300d409090fe9b",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "e3298517bf60b0fa",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "c75d139f7c5e815d",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 23,
        "width": 6,
        "height": 1
    },
    {
        "id": "89ae6136943fb018",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 24,
        "width": 6,
        "height": 1
    },
    {
        "id": "5fcfc74d2110d290",
        "type": "ui_spacer",
        "z": "5ad45b94a56ec35e",
        "name": "spacer",
        "group": "3672dcc041926a43",
        "order": 25,
        "width": 6,
        "height": 1
    },
    {
        "id": "986ea6aa58b7d783",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3672dcc041926a43",
        "type": "ui_group",
        "name": "DHT 22",
        "tab": "667a667ebba92fad",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": true,
        "className": "<div style=\"text-align: center\"></div>"
    },
    {
        "id": "667a667ebba92fad",
        "type": "ui_tab",
        "name": "Akbar - Praktikum IoT",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]